# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log
log/

# Build files
dist/
build/
.cache/

# Editor and OS files
.vscode/
.DS_Store
Thumbs.db

# Git merge conflicts
*.orig
